@import "./abstracts/abstracts";
@import "./vendors/vendors";
@import "./base/base";
@import "./components/components";
@import "./layout/layout";
@import "./pages/pages";
@import "./themes/themes";
@import "settings";
@import "./components/root";
@import "./components/main";
@import "./components/main_works";
@import "./components/main_about";
@import "./components/main_resume";
@import "./components/main_contact";

@import "./components/header";
@import "./components/container";

.business{
    background-color: #d9fdfa;
}
.creative{
    background-color: #d5f0ff;
}
.zone{
    background-color: #d9d8c7;
}
.nft{
    background-color: #ffdae5;
}
.delivery{
    background-color: #ffbfad;
}
.skin{
    background-color: #e0f1ed;
}
.architecture{
    background-color: #eaeaea;
}
.portfolio{
    background-color: #dfdfdf;
}
.community{
    background-color: #ffe0c1;
}
.food{
    background-color: #faffc4;
}
.skill{
    background-color: #ffb6bd;
}
.game{
    background-color: #d3ffd3;
}
.faster{
    background-color: #cce2ff;
}
.password{
    background-color: #e1ffe5;
}
.manager{
    background-color: #f7dbff;
}
.guide{
    background-color: #ffeecb;
    height: fit-content;
}