*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color:rgb(81, 93, 239);
    background-image: url(../img/groupsmile.svg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: top right;
    max-width: 1440px;
    margin: auto;
    padding: 20px 0px 0px;
}
header{
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.encabezado{
    display: flex;
    margin-right: 230px;
    justify-content: flex-start;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin-left: 80px;
    gap: 60px;
}
.menu li:last-child{
    background-color: rgb(81, 93, 239);
    position: absolute;
    top: 16px;
    right: 340px;
    padding: 10px;
    
}
a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

/*Main*/
.home{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
section>p:first-child{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 10px;
    margin-left: 20px;
}
section>p:nth-child(3){
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
    max-width: 600px;
    margin-left: 20px;
}
h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
    max-width: 700px;
    line-height: 65px;
    margin-left: 20px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    margin-bottom: 60px;
}
.button{
    color: #333333;
    display: flex;
    padding: 4px 10px;
}
.offers{
    display: flex;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    max-width: 70%;
    gap: 80px;
}
.offers>article{
    padding-top: 30px;
}
p.title{
    font-weight: 500;
    font-size: 20px;
    font-family: 'Poppins';
    margin-bottom: 12px;
}
.title~p{
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 300;
    max-width: 260px;

}
.article1{
    margin-left: 20px;
    align-items: center;
}
.article>img{
    margin-bottom: 5px;
}