*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: auto;
    background-image: url(../img/Placeholder.png);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: left 20px top 110px;
    padding: 20px 20px;
}
a{
    text-decoration: none;
    font-family: 'Poppins';
    color: #909090;
}
.header{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.header__menu>ul{
    gap: 60px;
    display: flex;
    list-style: none;
}
.header__sing{
    display: flex;
    justify-content: space-around;
}
.header__sing>ul{
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.header__sing>ul a{
    color: #9B9A78;
}
.header__sing ul li:last-child{
    background-color: #9B9A78;
    color: white;
    padding: 12px 27px;
}
.header__sing li:last-child a {
    color: white;
}

.hero{
    display: flex;
    margin-bottom: 30px;
    justify-content: end;
    max-width: 100%;
}
.hero__span::after{
    content: "";
    width: 50px;
    height: 8px;
    background-color: #9B9A78;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    
}
.hero > .hero__container1{
    width: 700px;background-color: rgba(255, 255, 255, 0.445);
    opacity: 0.8px;
    padding: 30px;
    backdrop-filter: blur(6px);
    margin: 0px 50px 0px 0px;
}
.hero__container1>h1{
    color: #313131;
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 70px;
}
.hero__container1>p{
    font-family: 'Poppins';
    font-size: 20px;
    color: #909090;
}
.container__out{
    display: flex;
    justify-content: flex-end;
    margin: 0px 100px 60px 0px;
    font-family: 'Poppins';
    color: #313131;
}
.hero__container2{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr)
}
.hero__container2>div{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 5px;
}



.container__end{
    display: flex;
    justify-content: space-around;
}
.container__end>div{
    max-width: 340px;
}

.container__end>div p{
    font-size: 17px;
    font-family: 'Poppins';
    color: #909090;
}
.container__end>div img{
    width: 50px;
}