.main{
    &__title{
        @include title();
        text-align: center;
    }
    &__text{
        @include text();
        text-align: center;
    }
     &__container__information{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(../img/home-hero-mobile.jpg);
        height: 650px;
        background-repeat: no-repeat;
        margin-bottom: 30px;
        position: relative;
        background-size: cover;
        &__h1{
            color: white;
            font-family: 'Space Mono', monospace;
            line-height: 30px;
            max-width: 400px;
            font-weight: 700;
        }
        &__text{
            color: white;
            margin-bottom: 30px;
        }
        &__arrow{
            position: absolute;
            top: 500px;
            left: -230px;
        }
        &__line{
            display: none;
        }

        @include breakpoint(tablet){
            background: 
        url(../patterns/white-circles.svg) right -30px top 530px/ auto auto,
        url(../img/home-hero-mobile.jpg) center center / 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
            &__h1{
            font-size: 50px;
            max-width: 500px;
            line-height: 60px;
            margin-bottom: 20px;
            }
            &__text{
            font-size: 20px;
            max-width: 650px;
            }
            &__button{
                font-size: 18px;
                padding: 18px 40px;
            }
            &__arrow{
                top: 460px;
                left: -120px;
            }
        }
        @include breakpoint(desktop){
            background: 
        url(../patterns/white-circles.svg) right -30px top 380px/ auto auto,
        url(../img/home-hero-desktop.jpg) center center / 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: start;
        padding-left: 120px;
        margin-top: 0px;
        
            &__h1{
                font-size: 57px;
                max-width: 600px;
                line-height: 70px;
                text-align: start;
            }
            &__text{
                font-size: 20px;
                max-width: 450px;
                margin-left: 70px;
                text-align: start;
            }
            &__button{
                font-size: 18px;
                padding: 18px 40px;
                margin-left: 70px;
            }
            &__arrow{
                max-width: 300px;
                top: 350px;
                left: 650px;
            }
            &__line{
                display: block;
                position: absolute;
                top: 350px;
                left: 0px;
                max-width: 150px;
            }
        }
    }

    &__container__information__about{
        background-image: url(../img/about-hero-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 150px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__h2{
            color: white;
            font-family: 'Space Mono', monospace;
            line-height: 30px;
            max-width: 400px;
            font-weight: 700;
        }
        @include breakpoint(tablet) {
            background: 
                url(../patterns/white-circles.svg) right -30px bottom 45px / 220px auto,

                url(../img/about-hero-tablet.jpg) center center / 100% 100%;
                background-repeat: no-repeat;
            width: clamp(300px, 100%, 1200px);
            margin-bottom: 100px;
        
            &__h2 {
                font-size: 40px;
                color: white;
                font-family: 'Space Mono';
                text-align: start;
            }
        }
        @include breakpoint(desktop){
            background:
            url(../patterns/white-circles.svg) right -30px bottom 45px / 220px auto,
            url(../img/about-hero-desktop.jpg)
            center center / 100% 100%;
            background-repeat: no-repeat;
            width: 100%;
            &__h2 {
                font-size: 40px;
                color: white;
                font-family: 'Space Mono';
                text-align: start;
            }
        }
        
        
        
        
    }
    &__container__information__careers{
        background-image: url(../img/careers-location-hero-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 155px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__title{
            color: white;
            font-family: 'Space Mono', monospace;
            line-height: 30px;
            max-width: 400px;
            font-weight: 700;
        }
        @include breakpoint(tablet){
            padding-left: 30px;
            background:
            url(../patterns/white-circles.svg) right -30px bottom 45px / 220px auto,
            url(../img/careers-locations-hero-tablet.jpg)
            center center / 100% 100%;
            background-repeat: no-repeat;
            width: clamp(300px, 100%, 1200px);

            &__title{
                font-size: 36px;
                text-align: start;
            }
        }
        @include breakpoint(desktop){
            background:
            url(../patterns/white-circles.svg) right -30px bottom 45px / 220px auto,
            url(../img/careers-locations-hero-desktop.jpg)
            center center / 100% 100%;
            background-repeat: no-repeat;
            width: 100%;
        }
    }


    //END LOCATION
    &__section__values{
        padding: 0px 25px;
        &__container{
            &__article{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                &__title__section{
                    @include title();
                    font-weight: 700;
                    font-size: 25px;
                    margin-bottom: 40px;
                }
                &__img{
                    border-radius: 50%;
                    max-width: 220px;
                    margin-bottom: 50px;
                }
                &__circle{
                    background-color: $yellow;
                    padding: 24px 27px;
                    border-radius: 50%;
                    font-family: 'Space Mono', monospace;
                    font-weight: 700;
                    color: $dar_navy;
                    position: absolute;
                    top: 185px;
                }
                &__title{
                    @include title();
                    font-weight: 700;
                    font-size: 20px;
                    color: $dar_navy;
                    margin-bottom: 15px
                }
                &__text{
                    @include text();
                    color: $dim_grey;
                    margin-bottom: 40px;
                    ;
                }

                @include breakpoint(tablet){
                    &__title{
                        font-size: 25px;
                    }
                    &__text{
                        max-width: 600px;
                        font-size: 15px;
                    }
                }
                
            }
            @include breakpoint(desktop){
                display: flex;
                justify-content: space-between;
                &__article{
                    max-width: 370px;
                }
            }
        }
            
    }
    
}

.main__location{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //LOCATION
    &__container__information__location{
        background-image: url(../img/careers-location-hero-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 155px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &__title{
            color: white;
            font-weight: 700;
            font-size: 32px;
        }

        @include breakpoint(tablet){
            display: flex;
            justify-content: start;
            padding-left: 50px;
            background:
            url(../patterns/white-circles.svg) right -30px bottom 45px / 220px auto,
            url(../img/careers-locations-hero-tablet.jpg)
            center center / 100% 100%;
            background-repeat: no-repeat;
            width: clamp(300px, 100%, 1200px);

            &__title{
                font-size: 36px;
                display: flex;
            }

        }
        @include breakpoint(desktop){
            background:
            url(../patterns/white-circles.svg) right -30px bottom 45px / 220px auto,
            url(../img/careers-locations-hero-desktop.jpg)
            center center / 100% 100%;
            background-repeat: no-repeat;
            width: 100%;
        }
        
    }
    &__figure{
        display: flex;
        justify-content: center;
        align-items: center;
        &__img{
            display: block;
        }
        &__img2{
            display: none;
        }
        @include breakpoint(tablet){
            padding-top: 50px;
            padding-bottom: 40px;
            &__img{
                display: none;
            }
            &__img2{
                display: inline-block;
                max-width: 6500px;
            }
        }
    }
    &__container__countries{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 10px;
        margin: auto;
        overflow: hidden;
        &__button{
            text-align: center;
            background-color: $light_yellow;
            width: 100%;
            padding: 20px 0px;
            color: $dar_navy;
            font-weight: 700;
            font-family: 'Lexend Deca';
            text-decoration: none;
            font-size: 20px;
            &:last-of-type{
                margin-bottom: 60px;
            }
        }
        @include breakpoint(tablet){
            display: none;
        }
    }
    //LOCATION
    &__figure{
        margin: auto;
        max-width: 290px;
        margin-bottom: 30px;
    }
}