<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
    <link rel="stylesheet" href="../../../../css/style.css">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="container-login">
            <!-- <img src="../static/img/logo-Photoroom.png" alt="" class="container-login_img"> -->

            <img src="../static/img/icon1.png" alt="" class="container-login_icons icon1">
            <img src="../static/img/icon2.png" alt="" class="container-login_icons icon2">
            <img src="../static/img/icon3.png" alt=""
            class="container-login_icons icon3">
            <img src="../static/img/icon4.png" alt=""
            class="container-login_icons icon4">
            <img src="../static/img/icon5.png" alt=""
            class="container-login_icons icon5">
            <img src="../static/img/icon7.png" alt=""
            class="container-login_icons icon7">
            <img src="../static/img/icon8.png" alt=""
            class="container-login_icons icon8">

            
            <form action="" class="container-login_form">
                <!--Logo-->
                <img src="../static/img/myLogo.png" alt="" class="container-login_form_logo">

                <p class="container-login_form_title">Hello, welcome back!</p>
                <input type="text" name="" id="" placeholder="USERNAME">
                <input type="text" name="" id="" placeholder="PASSWORD">
                <p class="container-login_form_text">Forgot Password?</p>
                <input type="button" value="Sing In">
                <p class="container-login_form_text">Or continue with</p>
                <div class="container-login_form_icon">
                    <div class="container-login_icon-container"><img src="../static/img/google.svg" alt=""></div>
                    <div class="container-login_form_icon-container"><img src="../static/img/github.svg" alt=""></div>
                    <div class="container-login_form_icon-container"><img src="../static/img/facebok.svg" alt=""></div>
                </div>
                <p class="container-login_form_text">Don't have an account yet? Register for free</p>
            </form>
        </div>

        

    </div>
    
</body>
</html>