.main_contact{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 50px 20px;
    margin: auto;
    width: 90%;

    &_title{
        margin-bottom: 40px;
        position: relative;
        &_text{
            color: black;
            font-weight: 700;
            font-size: clamp(26px, 2vw + 1rem, 32px);
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 170px;
                width: 65px;
                height: 3px;
                background-color: #0cb7f2;
                transform: translateY(-50%);
            }
            @media (min-width: 768px) and (max-width: 991px) {
                &::after {
                    left: 200px;
                    width: 130px;
                }
            }
            @media (min-width: 992px) and (max-width: 1400px) {
                &::after {
                    left: 225px;
                    width: 150px;
                }    
            }
            @media (min-width: 1401px) {
                &::after {
                    left: 270px;
                    width: 160px;
                }    
            }
        }
    }
    &_container{
        &_information{
            margin-bottom: 50px;
            .information_article{
                display: flex;
                gap: 25px;
                background-color: #FFF4F4;
                padding: 20px 20px;
                border-radius: 10px;
                margin-bottom: 20px;
                &_img{               
                    img{
                        width: 27px;
                    }
                }
                &_text{
                    .text_title{
                        @include resumeTitle();
                        justify-content: start;
                        font-size: 17px;
                        font-size: clamp(18px, 0.68vw + 12.35px, 22px);
                    }
                    .text_number{
                        @include resumeInfo();
                        font-size: clamp(15px, 0.68vw + 10px, 18px);
                    }
                }
            }
            @media (min-width: 992px) and (max-width: 1400px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .information_article{
                    width: 49%;
                }
                
            }
            
        }
        &_gmail{
            background-color: #F8FBFB;
            padding: 20px 20px;
            border-radius: 15px;
            &_title{
                @include resumeInfo();
                font-size:18px;
                font-weight: 500;
                margin-bottom: 40px;
                font-size: clamp(18px, 0.68vw + 12.35px, 23px);
            }
            &_article{
                .form_contact{
                    display: flex;
                    flex-direction: column;
                    &_label{
                        @include resumeInfo();
                        transition:  margin-bottom .2s ease-in;
    
                        font-size: clamp(16px, 0.68vw + 10px, 18px);
                    }
                    &_input{
                        border: none;
                        border-bottom: 1px solid black;
                        margin-bottom: 20px;
                        color: black;
                        background-color: transparent;
    
                        font-size: clamp(14px, 0.68vw + 10px, 18px);
                        &:focus{
                            outline: none;
                        }
                        padding: 3px;
                    }
                    &_textArea{
                        border: none;
                        border-bottom: 1px solid black;
                        margin-bottom: 40px;
                        color: black;
                        background-color: transparent;
    
                        font-size: clamp(14px, 0.68vw + 10px, 18px);
                        &:focus{
                            outline: none;
                        }
                    }
                    &_send{
                        background-color: #8bddf8;
                        border: none;
                        color: #44566C;
                        font-size: 16px;
                        width: max-content;
                        padding: 4px 10px;
                        border-radius: 10px;
    
                        font-size: clamp(15px, 0.68vw + 10px, 18px);
                    }
                }
            }
        }
        @media (min-width: 1401px){
            display: flex;
            justify-content: space-between;
            gap: 30px;
            &_information{
                width: 35%;
            }
            &_gmail{
                width: 65%;
            }
        }
    }
    
    
}