.main_work{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 50px 20px;
    margin: auto;
    width: 90%;
    &_title{
        margin-bottom: 30px;
        position: relative;
        &_text{
            color: black;
            font-weight: 700;
            font-size: clamp(25px, 2vw + 1rem, 35px);
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 230px;
                width: 55px;
                height: 3px;
                background-color: #0cb7f2;
                transform: translateY(-50%);
            }
            @media (min-width: 768px) and (max-width: 991px) {
                &::after {
                    left: 300px;
                    width: 130px;
                }
            }
            @media (min-width: 992px) and (max-width: 1400px) {
                &::after {
                    left: 325px;
                    width: 150px;
                }    
            }
            @media (min-width: 1401px) {
                &::after {
                    left: 370px;
                    width: 160px;
                }    
            }
        }
    }
    &_navegation{
        display: flex;
        gap: 13px;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 30px;
        position: relative;
        &_menu{
            @include resumeInfo();
            font-size: clamp(15px, 0.68vw + 12.35px, 19px);
            &:hover{
                cursor: pointer;
            }
        }
        #todos{
            color: #0cb7f2;
            font-weight: 500;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            justify-content: start;
            gap: 35px;
        }
        @media (min-width: 992px) and (max-width: 1400px) {
            justify-content: start;
            gap: 40px;
        }
        @media (min-width: 1401px){
            justify-content: start;
            gap: 40px;
        }
    }
    &_all{
        .article_proyect{
            border-radius: 20px;
            &_container{
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 20px;

            text-decoration: none;
                &_img{
                    margin-bottom: 15px;
                    border-radius: 10px
                }
                &_text{
                    display: flex;
                    align-self: flex-start;
                    &_title{
                        @include resumeYear();
                        
                    }
                }
            }
            
            
        }

        @media (min-width: 768px) and (max-width: 991px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article_proyect{
                width: 48%;
                margin-bottom: 25px;
            }
        }
        @media (min-width: 992px) and (max-width: 1400px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article_proyect{
                width: 32%;
                margin-bottom: 25px;
            }
        }
        @media (min-width: 1401px){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article_proyect{
                width: 32%;
                margin-bottom: 25px;
            }
        }
        
    }
    &_noReponsive{
        .article_proyect{
            border-radius: 20px;
            &_container{
                @include styleContainer();
                &_img{
                    @include styleImg();
                }
                &_text{
                    @include styleText();
                    &_title{
                        @include resumeYear();
                        
                    }
                }
            }
        }
        @media (min-width: 768px) and (max-width: 991px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article_proyect{
                width: 48%;
                margin-bottom: 25px;
            }
        }
        @media (min-width: 992px) and (max-width: 1400px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article_proyect{
                width: 32%;
                margin-bottom: 25px;
            }
        }
        @media (min-width: 1401px){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article_proyect{
                width: 32%;
                margin-bottom: 25px;
            }
        }
    }
    &_responsive{
        .article_proyect{
            border-radius: 20px;
            &_container{
                @include styleContainer();
                &_img{
                    @include styleImg();
                }
                &_text{
                    @include styleText();
                    &_title{
                        @include resumeYear();
                        
                    }
                }
            }
        }
        @media (min-width: 768px) and (max-width: 991px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article_proyect{
                width: 48%;
                margin-bottom: 25px;
            }
        }
        @media (min-width: 992px) and (max-width: 1400px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article_proyect{
                width: 32%;
                margin-bottom: 25px;
            }
        }
        @media (min-width: 1401px){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article_proyect{
                width: 32%;
                margin-bottom: 25px;
            }
        }
    }
    &_games{
        .article_proyect{
            border-radius: 20px;
            &_container{
                @include styleContainer();
                &_img{
                    @include styleImg();
                }
                &_text{
                    @include styleText();
                    &_title{
                        @include resumeYear();
                        
                    }
                }
            }
        }
        @media (min-width: 768px) and (max-width: 991px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article_proyect{
                width: 48%;
                margin-bottom: 25px;
            }
        }
        @media (min-width: 992px) and (max-width: 1400px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article_proyect{
                width: 32%;
                margin-bottom: 25px;
            }
        }
        @media (min-width: 1401px){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article_proyect{
                width: 32%;
                margin-bottom: 25px;
            }
        }
    }
    .hidden{
        display: none;
    }

}
