#root {
    background-image: url(../../assets/img/Rectangle_1.svg), url(../../assets/img/Rectangle_2.svg), url(../../assets/img/Rectangle_3.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left 0, bottom 0 right -100px, top 0 right 0;
  }
  @media (min-width: 480px) {
    #root {
      background-size: 200px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #root {
      background-size: 250px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    #root {
      background-size: 300px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1440px) {
    #root {
      background-size: 350px;
    }
  }

  @media (min-width: 1441px) {
    #root {
      background-size: 380px;
    }
  }