@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}


@mixin resumeTitle(){
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
}
@mixin resumeYear(){
  color: #44566C;
  font-size: 14px;
  font-weight: 400;
}
@mixin resumeText(){
  color: black;
  font-size: 20px;
}
@mixin resumeInfo(){
  color: #44566C;
  font-size: 15px;
  font-weight: 400;
}

@mixin styleContainer(){
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

  text-decoration: none;
}

@mixin styleImg(){
  margin-bottom: 15px;
  border-radius: 10px
}
@mixin styleText(){
  display: flex;
  align-self: flex-start;
}