.header{
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    picture{
        img{
            width: 100px;
        }
    }
    @include breakpoint(tablet){
        padding: 0px 35px;
    }
}