* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 400;
}

.container {
  background-image: url(../img/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: auto;
  padding: 35px 50px;
}
.container figure {
  max-width: 700px;
  position: relative;
  right: -550px;
}
.container figure .woman {
  position: absolute;
  top: 50px;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.container .header picture {
  min-width: 15%;
}
.container .header .header__nav {
  min-width: 60%;
  padding-right: 120px;
}
.container .header .header__nav .nav__ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 70px;
}
.container .header .header__nav .nav__ul a {
  text-decoration: none;
  color: #264065;
  position: relative;
}
.container .header .header__nav .nav__ul a:hover::after {
  content: "";
  width: 80%;
  height: 4px;
  background-color: #264065;
  position: absolute;
  bottom: -10px;
  left: 10%;
}
.container .header .header__button {
  min-width: 25%;
  display: flex;
  justify-content: space-between;
}
.container .header .header__button .header__icon .icon__searchBag {
  align-items: center;
}
.container .header .header__button .header__icon .icon__searchBag picture {
  display: flex;
  margin-left: auto;
  gap: 20px;
}
.container .header .header__button .header__sign {
  align-items: center;
}
.container .header .header__button .header__sign .sign {
  display: flex;
  gap: 30px;
}
.container .header .header__button .header__sign .sign .sign__in {
  list-style: none;
}
.container .header .header__button .header__sign .sign .sign__in a {
  color: #264065;
}
.container .header .header__button .header__sign .sign .sign__up {
  list-style: none;
}
.container .header .header__button .header__sign .sign .sign__up a {
  padding: 10px 20px;
  color: white;
  background-color: #264065;
  border-radius: 20px;
  text-decoration: none;
}
.container .main {
  position: relative;
}
.container .main .main__section .section__h1 {
  font-size: 65px;
  font-weight: 700;
  color: #264065;
  max-width: 750px;
  line-height: 60px;
  margin-bottom: 25px;
}
.container .main .main__section .section__text {
  color: #909090;
  font-size: 20px;
  max-width: 600px;
  margin-bottom: 30px;
}
.container .main .main__section .section__button {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 16px;
  margin-bottom: 50px;
}
.container .main .main__section .section__button .button__book {
  padding: 10px 20px;
  color: white;
  background-color: #264065;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.container .main .main__section .section__button .button__watch {
  color: #264065;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .main .main__section .section__button .button__watch .play {
  background: white;
  padding: 10px 12px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.container .main .main__section .section__button .button__watch .play img {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.container .main .main__section-items {
  display: flex;
  padding: 20px 0px;
  background-color: white;
  border-radius: 20px;
  max-width: 550px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.container .main .main__section-items .item {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-items: center;
  align-items: center;
}
.container .main .main__section-items .item img {
  max-width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 15px;
}
.container .main .main__section-items .item .title {
  font-size: 23px;
  font-weight: 500;
  color: #264065;
  margin-bottom: 10px;
}
.container .main .main__section-items .item .text {
  text-align: center;
  color: #909090;
  font-size: 12px;
  max-width: 90px;
}
.container .main .main__testimony {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 200px;
}
.container .main .main__testimony .testimony__container {
  display: flex;
  flex-direction: column;
}
.container .main .main__testimony .testimony__container .testimony1 {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 20px;
  align-self: flex-end;
  margin-bottom: 30px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  max-width: 350px;
}
.container .main .main__testimony .testimony__container .testimony2 {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-right: 150px;
  max-width: 350px;
}
.container .main .main__testimony .testimony__container .text {
  font-size: 14px;
  max-width: 300px;
  color: #070D15;
}
.container .main .main__testimony .testimony__container .testimony__name {
  font-size: 18px;
  color: #264065;
  font-weight: 700;
}
.container .main .main__testimony .testimony__container .comillas {
  max-width: 23px;
}/*# sourceMappingURL=style.css.map */