$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


$yellow: #FCB72B;
$dar_navy: #495567;
$dim_grey: #939CAA;
$light-grey: #E5ECF4;
$snow: #F2F5F9;
$light_yellow: #FFF4DF;