/**
BEM(Block, Element, Modifier)
[Bloque]
[Bloque]__[Elemento]
[Bloque]--[Modificador]
[Elemento]--[Modificador]
[Bloque]__[Elemento]--[Modificador]
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 20px 20px 0px;
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}
.container .header {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins";
  font-weight: 400;
  margin-bottom: 70px;
  align-items: center;
}
.container .header .header__nav {
  display: flex;
  justify-content: space-between;
  gap: 130px;
}
.container .header .header__nav .nav__ul {
  display: flex;
  gap: 60px;
  list-style: none;
  color: #2E2F38;
}
.container .header .header__container-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container .header .header__container-sign .container-sign__ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.container .header .header__container-sign .container-sign__ul .container-sign__up {
  font-weight: bold;
  gap: 20px;
}
.container .header .header__container-sign .container-sign__ul .container-sign__up .sign__up {
  text-decoration: none;
  color: white;
  padding-right: 20px;
}
.container .header .header__container-sign .container-sign__ul .container-sign__up .sign__in {
  text-decoration: none;
  background-color: #FA504D;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
}
.container .main .section {
  display: grid;
  grid-template-columns: 60% 40%;
}
.container .main .section .section__article-information {
  position: relative;
}
.container .main .section .section__article-information .article__h1 {
  font-size: 60px;
  font-family: "Belgrano";
  font-weight: 100;
  line-height: 80px;
  max-width: 750px;
  margin-bottom: 20px;
}
.container .main .section .section__article-information .article__h1::before {
  content: "";
  position: absolute;
  max-width: 300px;
  max-height: 150px;
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-size: 300px;
  left: 160px;
  z-index: 1;
}
.container .main .section .section__article-information .article__p {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 400;
  color: #8E8E8E;
  margin-bottom: 30px;
}
.container .main .section .section__article-information .article__p-underline {
  text-decoration: underline;
  text-decoration-color: #FA504D;
  text-decoration-thickness: 3px;
}
.container .main .section .section__article-information .article__button {
  display: flex;
  margin-bottom: 30px;
}
.container .main .section .section__article-information .article__button .button__explore {
  text-decoration: none;
  background-color: #FA504D;
  padding: 10px;
  color: white;
  font-family: "Poppins";
  font-weight: 400;
  font-weight: bold;
  padding-left: 60px;
  padding-right: 60px;
  margin-right: 40px;
}
.container .main .section .section__article-information .article__button .button__learn-more {
  display: flex;
  align-items: center;
  color: black;
  font-family: "Poppins";
}
.container .main .section .section__article-information .article__featured {
  display: flex;
  flex-direction: column;
}
.container .main .section .section__article-information .article__featured .article__h2 {
  font-family: "Belgrano";
  margin-bottom: 40px;
  font-weight: 400;
  color: #2E2F38;
}
.container .main .section .section__article-information .article__featured .featured__img {
  display: flex;
  gap: 30px;
}
.container .main .section .section__article-information .article__featured .featured__img img {
  max-width: 350px;
}
.container .main .section .article__buy {
  background-image: url(../img/image.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: grid;
}
.container .main .section .article__buy::before {
  content: "";
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
  width: 83%;
  height: 1px;
  background-color: #000;
  margin-bottom: 20px;
  z-index: 2;
}
.container .main .section .article__buy .buy__information {
  position: absolute;
  bottom: 110px;
  left: 30px;
  background-color: white;
  max-height: 300px;
  padding: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .main .section .article__buy .buy__information .information__user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  gap: 130px;
}
.container .main .section .article__buy .buy__information .information__user .user__img-name {
  display: flex;
  gap: 10px;
}
.container .main .section .article__buy .buy__information .information__user .user_id {
  font-family: "Poppins";
  font-size: 20px;
}
.container .main .section .article__buy .buy__information .information__user .user_id .user__atwork {
  font-weight: bold;
}
.container .main .section .article__buy .buy__information .information__user .user__buy-quantity {
  grid-template-rows: 1fr 1fr;
  font-size: 20px;
  font-family: "Poppins";
}
.container .main .section .article__buy .buy__information .information__user .user__buy-quantity .user__ofert {
  display: flex;
  justify-content: end;
}
.container .main .section .article__buy .buy__information .information__user .user__buy-quantity .user__price {
  font-weight: bold;
  display: flex;
  justify-content: end;
}
.container .main .section .article__buy .buy__information .buy__button {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container .main .section .article__buy .buy__information .buy__button .confirm-buy {
  background-color: #FA504D;
  text-decoration: none;
  background-color: #FA504D;
  padding: 10px;
  color: white;
  font-family: "Poppins";
  font-weight: 400;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.container .main .section .article__buy .buy__information .buy__button .confirm-details {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-family: "Poppins";
  font-weight: 400;
  font-weight: bold;
  color: #FA504D;
  display: flex;
  justify-content: center;
}
.container .main .section .buy__information__artist {
  position: absolute;
  bottom: 50px;
  width: 90%;
}
.container .main .section .buy__information__artist .information__additional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 45px;
}
.container .main .section .buy__information__artist .information__additional .additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  gap: 10px;
}
.container .main .section .buy__information__artist .information__additional .additional .additional__numbers {
  font-family: "Poppins";
  font-weight: 700;
  color: #FA504D;
  font-size: 20px;
}
.container .main .section .buy__information__artist .information__additional .additional__text {
  font-family: "Poppins";
  font-weight: none;
  font-size: 15px;
  color: white;
}/*# sourceMappingURL=style.css.map */