@import "./abstracts/abstracts";
@import "./vendors/vendors";
@import "./base/base";
@import "./components/components";
@import "./layout/layout";
@import "./pages/pages";
@import "./themes/themes";
@import "settings";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}
    .main {
        padding: 0px 20px;
        .container__main{
            .h1 {
            @include h1-style();
            max-width: 300px;
            margin-bottom: 20px
        }
        .main__text {
            @include text-style();
            max-width: 350px;
            margin-bottom: 35px;
        }
        .main__button {
            .button__li {
                list-style: none;
                margin-bottom: 70px;
                .button__a {
                    @include button-started2();
                }
            }
        }


        .main__information {
            position: relative;
            margin-bottom: 80px;

            .information__members {
                position: absolute;
                right: 25px;
                top: 0;
                border-radius: 10px;
                padding: 10px 20px;
            }

            .information__members2 {
                position: absolute;
                bottom: -20px;
                left: 25px;
                border-radius: 10px;
                padding: 10px 60px 10px 20px;
            }

            .container__information {
                background-color: #f9f4f4;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .members__text {
                    color: #83869A;
                    font-weight: 600;
                    font-size: 10px;
                    margin-bottom: 5px;
                }

                .members__number {
                    font-size: 25px;
                    color: #13183F;
                    font-weight: 900;
                }
            }

            .main__picture {
                display: flex;
                justify-content: center;
                .main__img {
                    width: 290px;
                }
                .main__img2{
                    display: none
                }

            }
        }
        //antes
    }
    .section {
        margin-bottom: 50px;
        gap: 20px;
        .section__p {
            @include button-started2();
            font-size: 25px;
            padding: 25px 30px;
            margin-bottom: 40px;
        }

        .article {
            position: relative;
            padding: 0px 15px;
            margin-bottom: 20px;
            picture {
                position: absolute;
                top: -20px;

                img {
                    padding: 15px;
                    background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
                    ;
                    border-radius: 50%;
                    margin-bottom: 12px;
                }
            }

            .article__title {
                color: #13183F;
                font-weight: 800;
                font-size: 18px;
                margin-bottom: 12px;
                padding-top: 40px;
            }

            .article__text {
                color: #83869A;
                font-size: 16px;
                margin-bottom: 12px;
            }

            .article__ul {
                padding-bottom: 10px;
                .article__li {
                    list-style: none;
                    .article__a {
                        text-decoration: none;
                        color: #F02AA6;
                        font-weight: 700;
                    }
                }
                margin-bottom: 45px;
            }
        }
        article:nth-child(2),
        article:nth-child(3),
        article:nth-child(4),
        article:nth-child(5),
        article:nth-child(6) {
            border-radius: 10px;
            background: var(--FFFFFF, #ffff);
            box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
            flex-shrink: 0;
        }
    }
        @include breakpoint(tablet) {

            display: flex;
            flex-direction: column;
            .container__main{
                display: flex;
                justify-content: space-between;
                padding: 50px 35px;
                .container__main-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .h1 {
                    font-size: 42px;
                    min-width: 400px;
                    }

                    .main__text {
                        font-size: 20px;
                        max-width: 400px;
                        line-height: 28px;
                    }  
                }


                    .main__information{
                        .container__information{
                            display: none;
                        }
                        picture.main__picture{
                            position: relative;
                            width: 300px;
                            img.main__img{
                                display: none;
                            }
                            img.main__img2{
                                display: block;
                                position: absolute;
                                top: -105px;
                                right: -35px;
                            }
                        }
                    
                    }
            }
            .section{
                padding: 0px 35px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                .section__p{
                    border-radius: 10px;
                    padding-top: 40px;
                    padding-bottom: 100px;
                    .h2{
                        max-width: 280px;
                    }
                }
            }

        }//end breakpoint tablet        
 

    
}
@include breakpoint(desktop){
    .main{
        div.container__main{
            padding-right: 0px;
            div.container__main-text{
                margin-right: 0px;
                    h1.h1{
                        font-size: 65px;
                        min-width: 550px;
                    }
                    p.main__text{
                        font-size: 23px;
                        min-width: 600px;
                    }
            }
            .main__information{
                .main__picture{
                    width: 600px;
                    position: relative;
                    img.main__img2{
                        position: absolute;
                        width: 350px;
                        top: -120px;
                        right:0px;
                    }
                }
            }
        }
        @include breakpoint(desktop){
            .section{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
        }
    }
    
}


