* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

img {
  max-width: 100%;
}

#root {
  background-image: url(../../assets/img/Rectangle_1.svg), url(../../assets/img/Rectangle_2.svg), url(../../assets/img/Rectangle_3.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 0, bottom 0 right -100px, top 0 right 0;
}

@media (min-width: 480px) {
  #root {
    background-size: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #root {
    background-size: 250px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #root {
    background-size: 300px;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  #root {
    background-size: 350px;
  }
}
@media (min-width: 1441px) {
  #root {
    background-size: 380px;
  }
}
.main_section_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_section_profile_container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.main_section_profile_container_img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main_section_profile_name {
  color: black;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}
.main_section_profile_study {
  color: gray;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}
.main_section_profile_social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 30px;
}
.main_section_profile_social_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  max-width: 35px;
  height: 35px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
}
.main_section_profile_social_buttons img {
  width: 100%;
  max-width: 50%;
  background: transparent;
  transition: filter 0.3s;
}
.main_section_profile_social .github:hover {
  background-color: black;
}
.main_section_profile_social .github:hover img {
  filter: brightness(0) invert(1);
}
.main_section_profile_social .linkedin:hover {
  background-color: #0077b5;
}
.main_section_profile_social .linkedin:hover img {
  filter: brightness(0) invert(1);
}
.main_section_profile_social .instagram:hover {
  background-color: #e1306c;
}
.main_section_profile_social .instagram:hover img {
  filter: brightness(0) invert(1);
}
.main_section_profile_cv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  font-weight: 500;
  background-color: #0cb7f2;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  transition: transform 0.2s;
}
.main_section_profile_cv:hover {
  transform: translateY(-5px);
}

.main_work {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 50px 20px;
  margin: auto;
  width: 90%;
}
.main_work_title {
  margin-bottom: 30px;
  position: relative;
}
.main_work_title_text {
  color: black;
  font-weight: 700;
  font-size: clamp(25px, 2vw + 1rem, 35px);
  position: relative;
}
.main_work_title_text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 230px;
  width: 55px;
  height: 3px;
  background-color: #0cb7f2;
  transform: translateY(-50%);
}
@media (min-width: 768px) and (max-width: 991px) {
  .main_work_title_text::after {
    left: 300px;
    width: 130px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_work_title_text::after {
    left: 325px;
    width: 150px;
  }
}
@media (min-width: 1401px) {
  .main_work_title_text::after {
    left: 370px;
    width: 160px;
  }
}
.main_work_navegation {
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  position: relative;
}
.main_work_navegation_menu {
  color: #44566C;
  font-size: 15px;
  font-weight: 400;
  font-size: clamp(15px, 0.68vw + 12.35px, 19px);
}
.main_work_navegation_menu:hover {
  cursor: pointer;
}
.main_work_navegation #todos {
  color: #0cb7f2;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main_work_navegation {
    justify-content: start;
    gap: 35px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_work_navegation {
    justify-content: start;
    gap: 40px;
  }
}
@media (min-width: 1401px) {
  .main_work_navegation {
    justify-content: start;
    gap: 40px;
  }
}
.main_work_all .article_proyect {
  border-radius: 20px;
}
.main_work_all .article_proyect_container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  text-decoration: none;
}
.main_work_all .article_proyect_container_img {
  margin-bottom: 15px;
  border-radius: 10px;
}
.main_work_all .article_proyect_container_text {
  display: flex;
  align-self: flex-start;
}
.main_work_all .article_proyect_container_text_title {
  color: #44566C;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main_work_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_work_all .article_proyect {
    width: 48%;
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_work_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_work_all .article_proyect {
    width: 32%;
    margin-bottom: 25px;
  }
}
@media (min-width: 1401px) {
  .main_work_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_work_all .article_proyect {
    width: 32%;
    margin-bottom: 25px;
  }
}
.main_work_noReponsive .article_proyect {
  border-radius: 20px;
}
.main_work_noReponsive .article_proyect_container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  text-decoration: none;
}
.main_work_noReponsive .article_proyect_container_img {
  margin-bottom: 15px;
  border-radius: 10px;
}
.main_work_noReponsive .article_proyect_container_text {
  display: flex;
  align-self: flex-start;
}
.main_work_noReponsive .article_proyect_container_text_title {
  color: #44566C;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main_work_noReponsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_work_noReponsive .article_proyect {
    width: 48%;
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_work_noReponsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_work_noReponsive .article_proyect {
    width: 32%;
    margin-bottom: 25px;
  }
}
@media (min-width: 1401px) {
  .main_work_noReponsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_work_noReponsive .article_proyect {
    width: 32%;
    margin-bottom: 25px;
  }
}
.main_work_responsive .article_proyect {
  border-radius: 20px;
}
.main_work_responsive .article_proyect_container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  text-decoration: none;
}
.main_work_responsive .article_proyect_container_img {
  margin-bottom: 15px;
  border-radius: 10px;
}
.main_work_responsive .article_proyect_container_text {
  display: flex;
  align-self: flex-start;
}
.main_work_responsive .article_proyect_container_text_title {
  color: #44566C;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main_work_responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_work_responsive .article_proyect {
    width: 48%;
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_work_responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_work_responsive .article_proyect {
    width: 32%;
    margin-bottom: 25px;
  }
}
@media (min-width: 1401px) {
  .main_work_responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_work_responsive .article_proyect {
    width: 32%;
    margin-bottom: 25px;
  }
}
.main_work_games .article_proyect {
  border-radius: 20px;
}
.main_work_games .article_proyect_container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  text-decoration: none;
}
.main_work_games .article_proyect_container_img {
  margin-bottom: 15px;
  border-radius: 10px;
}
.main_work_games .article_proyect_container_text {
  display: flex;
  align-self: flex-start;
}
.main_work_games .article_proyect_container_text_title {
  color: #44566C;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main_work_games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_work_games .article_proyect {
    width: 48%;
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_work_games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_work_games .article_proyect {
    width: 32%;
    margin-bottom: 25px;
  }
}
@media (min-width: 1401px) {
  .main_work_games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_work_games .article_proyect {
    width: 32%;
    margin-bottom: 25px;
  }
}
.main_work .hidden {
  display: none;
}

.main_about {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 50px 20px;
  margin: auto;
  width: 90%;
}
.main_about_container_title {
  margin-bottom: 40px;
  position: relative;
}
.main_about_container_title_text {
  color: black;
  font-weight: 700;
  font-size: clamp(30px, 2vw + 1rem, 45px);
  position: relative;
}
.main_about_container_title_text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 170px;
  width: 70px;
  height: 3px;
  background-color: #0cb7f2;
  transform: translateY(-50%);
}
@media (min-width: 768px) and (max-width: 991px) {
  .main_about_container_title_text::after {
    left: 200px;
    width: 130px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_about_container_title_text::after {
    left: 225px;
    width: 150px;
  }
}
@media (min-width: 1401px) {
  .main_about_container_title_text::after {
    left: 270px;
    width: 160px;
  }
}
.main_about_container_principal {
  margin-bottom: 45px;
}
.main_about_container_principal_photo {
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 40px;
}
.main_about_container_principal_container .article_about {
  margin-bottom: 45px;
}
.main_about_container_principal_container .article_about_title {
  color: black;
  font-weight: 600;
  font-size: clamp(25px, 2vw + 1rem, 35px);
  margin-bottom: 10px;
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_about_container_principal_container .article_about_title {
    margin-bottom: 20px;
  }
}
@media (min-width: 1401px) {
  .main_about_container_principal_container .article_about_title {
    margin-bottom: 20px;
  }
}
.main_about_container_principal_container .article_about_text {
  color: gray;
  font-size: clamp(15px, 0.68vw + 12.35px, 19px);
}
.main_about_container_principal_container .article_info {
  margin-bottom: 45px;
}
.main_about_container_principal_container .article_info_title {
  color: black;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_about_container_principal_container .article_info_title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1401px) {
  .main_about_container_principal_container .article_info_title {
    margin-bottom: 30px;
  }
}
.main_about_container_principal_container .article_info_block {
  display: flex;
  flex-direction: column;
}
.main_about_container_principal_container .article_info_block_container {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 17px;
}
.main_about_container_principal_container .article_info_block_container img {
  height: -moz-min-content;
  height: min-content;
  width: 40px;
  padding: 9px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.main_about_container_principal_container .article_info_block_container_information_title {
  color: gray;
  font-size: 13px;
  line-height: 10px;
}
.main_about_container_principal_container .article_info_block_container_information_text {
  color: black;
  font-size: 15px;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main_about_container_principal_container .article_info_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_about_container_principal_container .article_info_block_container {
    width: 50%;
    display: flex;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_about_container_principal {
    display: flex;
    gap: 30px;
  }
  .main_about_container_principal_photo {
    height: -moz-max-content;
    height: max-content;
    width: 35%;
  }
  .main_about_container_principal_container {
    width: 65%;
  }
  .main_about_container_principal_container .article_info_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main_about_container_principal_container .article_info_block_container {
    width: 45%;
    display: flex;
  }
}
@media (min-width: 1401px) {
  .main_about_container_principal {
    display: flex;
    gap: 30px;
  }
  .main_about_container_principal_photo {
    height: -moz-max-content;
    height: max-content;
    width: 35%;
  }
  .main_about_container_principal_container {
    width: 65%;
  }
  .main_about_container_principal_container .article_info_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main_about_container_principal_container .article_info_block_container {
    width: 45%;
    display: flex;
  }
}
.main_about_container_hability {
  display: flex;
  flex-direction: column;
}
.main_about_container_hability_title {
  margin-bottom: 40px;
}
.main_about_container_hability_title .title_text {
  color: black;
  font-size: clamp(25px, 2vw + 1rem, 35px);
  font-weight: 600;
}
.main_about_container_hability_container .article {
  padding: 30px 30px;
  background-color: #fff4f4;
  border-radius: 20px;
  margin-bottom: 20px;
}
.main_about_container_hability_container .article_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}
.main_about_container_hability_container .article_img img {
  width: 50px;
}
.main_about_container_hability_container .article_text_title {
  color: black;
  font-weight: 500;
  font-size: clamp(20px, 0.68vw + 12.35px, 22px);
  margin-bottom: 10px;
}
.main_about_container_hability_container .article_text_text {
  color: #44566c;
  font-size: clamp(15px, 0.68vw + 12.35px, 17px);
}
.main_about_container_hability_container .code {
  background-color: #EEF5FA;
}
.main_about_container_hability_container .video {
  background-color: #EEF5FA;
}
@media (min-width: 576px) and (max-width: 767px) {
  .main_about_container_hability_container .article {
    display: flex;
    gap: 20px;
  }
  .main_about_container_hability_container .article_img {
    display: flex;
    align-items: flex-start;
    width: 20%;
  }
  .main_about_container_hability_container .article_text {
    width: 80%;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_about_container_hability_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_about_container_hability_container .article {
    display: flex;
    gap: 20px;
    width: 48%;
    margin-bottom: 30px;
  }
  .main_about_container_hability_container .article_img {
    display: flex;
    align-items: flex-start;
    width: 20%;
  }
  .main_about_container_hability_container .article_text {
    width: 80%;
  }
}
@media (min-width: 1401px) {
  .main_about_container_hability_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_about_container_hability_container .article {
    display: flex;
    gap: 20px;
    width: 48%;
    margin-bottom: 30px;
  }
  .main_about_container_hability_container .article_img {
    display: flex;
    align-items: flex-start;
    width: 20%;
  }
  .main_about_container_hability_container .article_text {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main_about_container_hability_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .main_about_container_hability_container .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    height: 350px;
    margin-bottom: 0px;
  }
  .main_about_container_hability_container .article_img {
    width: 20%;
  }
  .main_about_container_hability_container .article_text {
    width: 80%;
  }
}

.main_resume {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 50px 20px;
  margin: auto;
  width: 90%;
}
.main_resume_title {
  margin-bottom: 40px;
  position: relative;
}
.main_resume_title_text {
  color: black;
  font-weight: 700;
  font-size: clamp(33px, 2vw + 1rem, 45px);
  position: relative;
}
.main_resume_title_text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 170px;
  width: 65px;
  height: 3px;
  background-color: #0cb7f2;
  transform: translateY(-50%);
}
@media (min-width: 768px) and (max-width: 991px) {
  .main_resume_title_text::after {
    left: 200px;
    width: 130px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_resume_title_text::after {
    left: 225px;
    width: 150px;
  }
}
@media (min-width: 1401px) {
  .main_resume_title_text::after {
    left: 270px;
    width: 160px;
  }
}
.main_resume_block_container {
  margin-bottom: 50px;
}
.main_resume_block_container .education_title {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.main_resume_block_container .education_title_img img {
  width: 43px;
}
.main_resume_block_container .education_title_text {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
}
.main_resume_block_container_education .education_container {
  background-color: #FFF4F4;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 140px;
}
.main_resume_block_container_education .education_container_year {
  color: #44566C;
  font-size: 14px;
  font-weight: 400;
}
.main_resume_block_container_education .education_container_school {
  color: black;
  font-size: 20px;
}
.main_resume_block_container_education .education_container_location {
  color: #44566C;
  font-size: 15px;
  font-weight: 400;
}
.main_resume_block_container .fjb .education_container {
  background-color: #EEF5FA;
}
.main_resume_block_experience {
  margin-bottom: 50px;
}
.main_resume_block_experience .experience_title {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.main_resume_block_experience .experience_title img {
  width: 37px;
}
.main_resume_block_experience .experience_title_text {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
}
.main_resume_block_experience_container .experience_container {
  background-color: #FFF4F4;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 140px;
}
.main_resume_block_experience_container .experience_container_year {
  color: #44566C;
  font-size: 14px;
  font-weight: 400;
}
.main_resume_block_experience_container .experience_container_compain {
  color: black;
  font-size: 20px;
}
.main_resume_block_experience_container .experience_container_position {
  color: #44566C;
  font-size: 15px;
  font-weight: 400;
}
.main_resume_block_experience .mgs .experience_container {
  background-color: #EEF5FA;
}
.main_resume_block_awards .awards_title {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.main_resume_block_awards .awards_title img {
  width: 37px;
}
.main_resume_block_awards .awards_title_text {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
}
.main_resume_block_awards_container .awards_container {
  background-color: #FFF4F4;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 140px;
}
.main_resume_block_awards_container .awards_container_name {
  color: #44566C;
  font-size: 14px;
  font-weight: 400;
}
.main_resume_block_awards_container .awards_container_title {
  color: black;
  font-size: 20px;
}
.main_resume_block_awards_container .awards_container_status {
  color: #44566C;
  font-size: 15px;
  font-weight: 400;
}
.main_resume_block_awards .aws .awards_container {
  background-color: #EEF5FA;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .main_resume_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_resume_block_container {
    width: 48%;
  }
  .main_resume_block_experience {
    width: 48%;
  }
  .main_resume_block_awards {
    width: 48%;
  }
}
@media (min-width: 1201px) {
  .main_resume_block {
    display: flex;
    gap: 20px;
  }
  .main_resume_block_container {
    flex: 1;
  }
  .main_resume_block_experience {
    flex: 1;
  }
  .main_resume_block_awards {
    flex: 1;
  }
}

.main_contact {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 50px 20px;
  margin: auto;
  width: 90%;
}
.main_contact_title {
  margin-bottom: 40px;
  position: relative;
}
.main_contact_title_text {
  color: black;
  font-weight: 700;
  font-size: clamp(26px, 2vw + 1rem, 32px);
  position: relative;
}
.main_contact_title_text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 170px;
  width: 65px;
  height: 3px;
  background-color: #0cb7f2;
  transform: translateY(-50%);
}
@media (min-width: 768px) and (max-width: 991px) {
  .main_contact_title_text::after {
    left: 200px;
    width: 130px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .main_contact_title_text::after {
    left: 225px;
    width: 150px;
  }
}
@media (min-width: 1401px) {
  .main_contact_title_text::after {
    left: 270px;
    width: 160px;
  }
}
.main_contact_information {
  margin-bottom: 50px;
}
.main_contact_information .information_article {
  display: flex;
  gap: 25px;
  background-color: #FFF4F4;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.main_contact_information .information_article_img img {
  width: 27px;
}
.main_contact_information .information_article_text .text_title {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
  justify-content: start;
  font-size: 17px;
}
.main_contact_information .information_article_text .text_number {
  color: #44566C;
  font-size: 15px;
  font-weight: 400;
}
.main_contact_gmail_title {
  color: #44566C;
  font-size: 15px;
  font-weight: 400;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}
.main_contact_gmail_article .form_contact {
  display: flex;
  flex-direction: column;
}
.main_contact_gmail_article .form_contact_label {
  color: #44566C;
  font-size: 15px;
  font-weight: 400;
  transition: margin-bottom 0.2s ease-in;
}
.main_contact_gmail_article .form_contact_input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  color: black;
  padding: 3px;
}
.main_contact_gmail_article .form_contact_input:focus {
  outline: none;
}
.main_contact_gmail_article .form_contact_textArea {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
  color: black;
}
.main_contact_gmail_article .form_contact_textArea:focus {
  outline: none;
}
.main_contact_gmail_article .form_contact_send {
  background-color: #0cb7f2;
  border: none;
  color: white;
  font-size: 17px;
  width: -moz-max-content;
  width: max-content;
  padding: 4px 8px;
  border-radius: 10px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 90%;
  margin: auto;
  margin-bottom: 100px;
  padding-top: 40px;
}
.header_name {
  color: #0cb7f2;
  font-family: "Black Ops One", sans-serif;
  font-size: clamp(20px, 20px + 15 * (100vw - 320px) / 880, 29px);
}
.header_container {
  width: 90%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 2;
}
.header_container.open {
  max-height: 400px;
}
.header_container_menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 20px;
  gap: 15px;
}
.header_container_menu_li {
  display: flex;
  font-size: 14px;
  gap: 7px;
  text-decoration: none;
}
.header_container_menu_li img {
  width: 100%;
  max-width: 21px;
}
.header_container_menu_li span {
  color: #44566c;
  text-decoration: none;
}
.header_container_menu_hamburger {
  background-color: #0cb7f2;
  padding: 8px;
  width: 100%;
  max-width: 35px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header_container {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    max-height: none;
    overflow: visible;
    transition: none;
    box-shadow: none;
    border-radius: 0;
    width: auto;
    background-color: transparent;
  }
  .header_container_menu {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    padding: 20px;
    gap: 15px;
  }
  .header_container_menu_li {
    display: flex;
    font-size: 14px;
    gap: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 8px 15px;
    border-radius: 7px;
    transition: background-color 0.3s;
    width: 130px;
  }
  .header_container_menu_li img {
    width: 100%;
    max-width: 21px;
    transition: filter 0.3s;
  }
  .header_container_menu_li:hover {
    background-color: gray;
  }
  .header_container_menu_li:hover img {
    filter: brightness(0) invert(1);
  }
  .header_container_menu_li:hover span {
    color: white;
  }
  .header_container_menu .page_home {
    background-color: gray;
  }
  .header_container_menu .page_home span {
    color: white;
  }
  .header_container_menu .page_home img {
    filter: brightness(0) invert(1);
  }
  .header_container_menu_hamburger {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header_container {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    max-height: none;
    overflow: visible;
    transition: none;
    box-shadow: none;
    border-radius: 0;
    width: auto;
    background-color: transparent;
  }
  .header_container_menu {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    padding: 23px;
    gap: 20px;
  }
  .header_container_menu_li {
    display: flex;
    font-size: 16px;
    color: #44566c;
    gap: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 8px 19px;
    border-radius: 7px;
    width: 150px;
    transition: background-color 0.3s;
  }
  .header_container_menu_li img {
    width: 100%;
    max-width: 21px;
    transition: filter 0.3s;
  }
  .header_container_menu_li:hover {
    background-color: gray;
  }
  .header_container_menu_li:hover img {
    filter: brightness(0) invert(1);
  }
  .header_container_menu_li:hover span {
    color: white;
  }
  .header_container_menu .page_home {
    background-color: gray;
  }
  .header_container_menu .page_home span {
    color: white;
  }
  .header_container_menu .page_home img {
    filter: brightness(0) invert(1);
  }
  .header_container_menu_hamburger {
    display: none;
  }
}

.container {
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.business {
  background-color: #d9fdfa;
}

.creative {
  background-color: #d5f0ff;
}

.zone {
  background-color: #d9d8c7;
}

.nft {
  background-color: #ffdae5;
}

.delivery {
  background-color: #ffbfad;
}

.skin {
  background-color: #e0f1ed;
}

.architecture {
  background-color: #eaeaea;
}

.portfolio {
  background-color: #dfdfdf;
}

.community {
  background-color: #ffe0c1;
}

.food {
  background-color: #faffc4;
}

.skill {
  background-color: #ffb6bd;
}

.game {
  background-color: #d3ffd3;
}

.faster {
  background-color: #cce2ff;
}

.password {
  background-color: #e1ffe5;
}

.manager {
  background-color: #f7dbff;
}

.guide {
  background-color: #ffeecb;
}/*# sourceMappingURL=style.css.map */